# Exploration of the given data

In [1]:
import sys
sys.path.append(r"../")

from src.data.data_collector import add_to_combined

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/filtered.tsv', sep='\t', header=0)
df.head()

,reference,translation,similarity,lenght_diff,ref_tox,trn_tox
0,"If Alkar is flooding her with psychic waste, t...","if Alkar floods her with her mental waste, it ...",0.785171,0.010309,0.014195,0.981983
1,Now you're getting nasty.,you're becoming disgusting.,0.749687,0.071429,0.065473,0.999039
2,"Well, we could spare your life, for one.","well, we can spare your life.",0.919051,0.268293,0.213313,0.985068
3,"Ah! Monkey, you've got to snap out of it.","monkey, you have to wake up.",0.664333,0.309524,0.053362,0.994215
4,I've got orders to put her down.,I have orders to kill her.,0.726639,0.181818,0.009402,0.999348

## Analyze the dataframe

### Check columns and their types

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577777 entries, 0 to 577776
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   reference    577777 non-null  object
 1   translation  577777 non-null  object
 2   similarity   577777 non-null  float64
 3   lenght_diff  577777 non-null  float64
 4   ref_tox      577777 non-null  float64
 5   trn_tox      577777 non-null  float64
dtypes: float64(4), object(2)
memory usage: 30.9+ MB

### Check values of the columns

In [4]:
df.describe()

          similarity    lenght_diff        ref_tox        trn_tox
count  577777.000000  577777.000000  577777.000000  577777.000000
mean        0.758469       0.157652       0.541372       0.434490
std         0.092695       0.108057       0.457571       0.458904
min         0.600001       0.000000       0.000033       0.000033
25%         0.681105       0.066667       0.012171       0.000707
50%         0.754439       0.141791       0.806795       0.085133
75%         0.831244       0.238095       0.990469       0.973739
max         0.950000       0.400000       0.999724       0.999730

### Check for missing values

In [5]:
df.isnull().sum()

reference      0
translation    0
similarity     0
lenght_diff    0
ref_tox        0
trn_tox        0
dtype: int64

### Change order of values in row (reference and translation) if ref_tox > trn_tox

In [6]:
df.loc[df['ref_tox'] < df['trn_tox'], ['reference', 'translation', 'ref_tox', 'trn_tox']] = \
    df.loc[df['ref_tox'] < df['trn_tox'], ['translation', 'reference', 'trn_tox', 'ref_tox']].values

In [7]:
df.head()

,reference,translation,similarity,lenght_diff,ref_tox,trn_tox
0,"if Alkar floods her with her mental waste, it ...","If Alkar is flooding her with psychic waste, t...",0.785171,0.010309,0.981983,0.014195
1,you're becoming disgusting.,Now you're getting nasty.,0.749687,0.071429,0.999039,0.065473
2,"well, we can spare your life.","Well, we could spare your life, for one.",0.919051,0.268293,0.985068,0.213313
3,"monkey, you have to wake up.","Ah! Monkey, you've got to snap out of it.",0.664333,0.309524,0.994215,0.053362
4,I have orders to kill her.,I've got orders to put her down.,0.726639,0.181818,0.999348,0.009402

### Modify dataset for training

In [8]:
df = df.rename(columns={"reference": "toxic-en", "translation": "neutral-en"})[['toxic-en', 'neutral-en']]
df.head()

,toxic-en,neutral-en
0,"if Alkar floods her with her mental waste, it ...","If Alkar is flooding her with psychic waste, t..."
1,you're becoming disgusting.,Now you're getting nasty.
2,"well, we can spare your life.","Well, we could spare your life, for one."
3,"monkey, you have to wake up.","Ah! Monkey, you've got to snap out of it."
4,I have orders to kill her.,I've got orders to put her down.

### Add result to combined dataset (data/interim/combined.tsv)

In [9]:
print('Total combined size:', len(add_to_combined(df, is_initial=True)))

,toxic-en,neutral-en
0,"if Alkar floods her with her mental waste, it ...","If Alkar is flooding her with psychic waste, t..."
1,you're becoming disgusting.,Now you're getting nasty.
2,"well, we can spare your life.","Well, we could spare your life, for one."
3,"monkey, you have to wake up.","Ah! Monkey, you've got to snap out of it."
4,I have orders to kill her.,I've got orders to put her down.
...,...,...
577772,you didn't know that Estelle stole your fish f...,You didn't know that Estelle had stolen some f...
577773,It'il suck the life out of you!,you'd be sucked out of your life!
577774,"I can't fuckin' take that, bruv.",I really can't take this.
577775,They called me a fucking hero. The truth is I ...,"they said I was a hero, but I didn't care."
577776,I didn't fuck him.,I did not screw him.