# Getting new data from the web

New data sources:
- https://huggingface.co/datasets/s-nlp/paranmt_for_detox
- https://huggingface.co/datasets/s-nlp/en_paradetox_content
- https://huggingface.co/datasets/s-nlp/paradetox

In [1]:
import sys
sys.path.append(r"../")

In [2]:
import pandas as pd
from datasets import load_dataset

In [3]:
df1 = load_dataset("s-nlp/paranmt_for_detox")["train"].to_pandas()
df1.head()

,toxic_comment,neutral_comment
0,Shut it off!,turn it off!
1,Damned strange ones.,pretty weird.
2,Come on. I know I was a bit of a jerk back in ...,"I know I was quite a bastard then, but I've gr..."
3,We're about to die of hunger; we're lost; we c...,"we're lost, we can't leave this tree because t..."
4,We have acknowledged that we have feelings for...,we knew we had feelings for each other and we ...

In [4]:
df2 = load_dataset("s-nlp/en_paradetox_content")["train"].to_pandas()
df2.head()

,neutral,toxic,match
0,so sad the voters in her district are stupid e...,so sad the voters in her district are stupid e...,True
1,Trump is indifferent and not into his senses.,trump is a liar and a psychotic .,True
2,professors who sit in an old buildings dreamin...,professors who sit in stinky old buildings dre...,True
3,But you will vote for a wife of a friend,but youll vote for the wife of a rapistsex fie...,False
4,i hope i live long enough to see at least thes...,i hope i live long enough to see at least thes...,True

In [5]:
df3 = load_dataset("s-nlp/paradetox")["train"].to_pandas()
df3.head()

,en_toxic_comment,en_neutral_comment
0,he had steel balls too !,he was brave too!
1,"dude should have been taken to api , he would ...",It would have been good if he went to api. He ...
2,"im not gonna sell the fucking picture , i just...","I'm not gonna sell the picture, i just want to..."
3,the garbage that is being created by cnn and o...,the news that is being created by cnn and othe...
4,the reason they dont exist is because neither ...,The reason they don't exist is because neither...

In [6]:
total_new_size = len(df1) + len(df2) + len(df3)
print(f"Total new size: {total_new_size}")

Total new size: 53454

## Let's combine all the data

In [7]:
df1 = df1.rename(columns={"toxic_comment": "toxic-en", "neutral_comment": "neutral-en"})[['toxic-en', 'neutral-en']]
df2 = df2.rename(columns={"toxic": "toxic-en", "neutral": "neutral-en"})[['toxic-en', 'neutral-en']]
df3 = df3.rename(columns={"en_toxic_comment": "toxic-en", "en_neutral_comment": "neutral-en"})[['toxic-en', 'neutral-en']]

In [8]:
df = pd.concat([df1, df2, df3], ignore_index=True)

In [9]:
print(len(df))
df.head()

53454

,toxic-en,neutral-en
0,Shut it off!,turn it off!
1,Damned strange ones.,pretty weird.
2,Come on. I know I was a bit of a jerk back in ...,"I know I was quite a bastard then, but I've gr..."
3,We're about to die of hunger; we're lost; we c...,"we're lost, we can't leave this tree because t..."
4,We have acknowledged that we have feelings for...,we knew we had feelings for each other and we ...

In [10]:
from src.data.data_collector import add_to_combined

print('Total combined size:', len(add_to_combined(df)))

Total combined size: 631231